// Essentials.
@import "essentials";

// Generic
@import "2-generic/generic";
@import "2-generic/gutenberg";
@import "2-generic/slick-carousel";
@import "2-generic/search-results";

// Layouts.
@import "4-layouts/posts/meta";
@import "4-layouts/posts/post-card";
@import "4-layouts/posts/pagination";
@import "4-layouts/header/nav/navigation";
@import "4-layouts/search-form";

// Components



html, 
body {
    height: 100%;
}
img {
    width: 100%;
    height: auto;
}


.img-hover-zoom {
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
  
  }
  
  /* [2] Transition property for smooth transformation of images */
  .img-hover-zoom img {
    transition: transform .5s ease;
 
  }
  
  /* [3] Finally, transforming the image when container gets hovered */
  .img-hover-zoom:hover img {
    transform: scale(1.2);
  }
  body { 
    font-family: 'Lato', sans-serif !important;
  }






body{
    background-color: blueviolet;
}