@use "../util" as u;

.footer {
    // position: absolute;
  
    // width: 100%;
    // max-height: 60px;

align-items: center;
justify-content: center;
vertical-align: middle;
display: flex;
margin-top: auto;
min-height: 60px;


}
